<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="configPacker" value="Мосина Н.Г."/><!--Упаковщик-->
    <add key="configContoller" value=""/><!--Контролёр-->
    <add key="configMaster" value="Зельнев А.Н"/><!--Мастер участка-->
    <add key="configSetCurrentDate" value="да"/><!--Писать ли в упаковочном листе текущую дату: да - писать, любое другое значение - не писать-->
    <add key="configPackingListSheetFolder" value="C:\Program Files\TheFirstAddin\Application Files"/><!--Папка, в к-рую помещаются упаковочные листы-->
  </appSettings>
</configuration>